/* .container-card {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  width: 18rem;
  height: 400px;
  margin: 30px;
  border-radius: 25px;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}

.icon-section {
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
} */

.displayFlex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}

.card-body-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  padding: 0;
}

.card-body-right {
  width: 40%;
  /* border: 1px solid black; */
  padding: 0;
  max-height: 50px;
  font-size: 20px;
  
}

.btn-max-height {
  max-height: 50px;
  max-width: 70px;
  
}

.footer-container {
  margin: 0;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  /* border: 1px solid black; */
  width: 100%;
}
